Hi Jeff,

I hope this message finds you well. I am reaching out to let you know that your nasal swab came back positive for MSSA (Methicillin Susceptible Staphylococcus Aureus). This does not change your surgery. MSSA bacteria are commonly found on our skin, in our nostrils and throughout the environment, along with many other germ varieties.  Even though these germs are in contact with us, they do not often cause an actual infection.  But if you have a hospital stay and have a surgical incision, the risk of any germ causing an infection increases.

To help reduce the risk of post-operative infection, please use the Mupirocin ointment in your nose. For 5 days prior to your surgery, apply a small quantity to a cotton swab and apply inside your nostril as far back as you can tolerate.  Repeat in the other nostril.  Do this twice daily, morning and evening, and also the day of your surgery before leaving home. The ointment has already been sent to your pharmacy on 08/19.

Also, please don't forget to perform the presurgical wash with chlorhexidine gluconate soap (brand name Hibiclens®) for 5 days prior to your surgery. This also helps to reduce the risk of post-operative infection.

Let us know if you have any other questions, thank you.

Kindly,
Jascha RN
Nurse Clinician for Dr. Wilde
Dept of Orthopedic Surgery
Lower Extremity Reconstruction / Joint Replacement
